
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env


# IDE
.idea/
.vscode/

# OS
*.DS_Store
*.Thumbs.db*.xlsx

// Documents
*.xlsx
*.docx

// Scraped Files
/src/output
src/scrapers/**/*.xlsx
/src/scrapers/**/*json
/src/scrapers/**/*jsonl
